<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="swim.swimmom" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="SwimMOM"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="Profiles"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetActivity"
            android:label="Meets"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CutTimeActivity"
            android:label="Cut Times"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CutTimeAddActivity"
            android:label="Add Cut Time"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".StatisticActivity"
            android:label="Statistics"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SwimmerStatisticActivity"
            android:label="Statistics"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileAddActivity"
            android:label="Add Swimmer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileEditActivity"
            android:label="Edit Swimmer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetCreateActivity"
            android:label="Create Meet"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetCreateSwimmersActivity"
            android:label="Select Swimmers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetCreateSwimmersEventsActivity"
            android:label="Select Events"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetSave"
            android:label="Save Meet"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CutTimeEditActivity"
            android:label="@string/title_activity_cut_time_edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetSwimmersEvents"
            android:label="@string/title_activity_meet_swimmers_events"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetFinishActivity"
            android:label="@string/title_activity_meet_finish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetEditActivity"
            android:label="Edit Meet"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MeetEditSwimmersActivity"
            android:label="@string/title_activity_meet_edit_swimmers"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MeetEditEventsActivity"
            android:label="@string/title_activity_meet_edit_events"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MeetEditFinishActivity"
            android:label="@string/title_activity_meet_edit_finish"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
